root.dir=F:\\Workspace_eclipse\\wikiindexer-master_26_sep13_v2
#dump.filename=one_entry.xml
#dump.filename=five_entries.xml
#dump.filename=fifteen_entries.xml
dump.filename=WikiDump_1600.xml
tknizer.nthreads=1
tmp.dir=F:\\Workspace_eclipse\\wikiindexer-master_26_sep13_v2
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationRule
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApostropheRule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.HyphenRule
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharRule
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhitespaceRule
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DateRule
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentRule
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWordsRule
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitalizationRule
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumberRule
pretkn.rules=DATES,NUMBERS